.bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 90px 50px 90px;
    padding: 10px;
    text-align: center;
    background-color: #FDF0D5;
    box-shadow: 1px 10px 10px 1px rgba(32,32,32,0.3);;
}

div h1{
    font-size: 40px;
    color: #360A14;
}

div h2{
    font-size: 20px;
    color: #360A14;
}